@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

body {
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem;
    line-height: 1.6;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/*
* Custom translucent site header
*/

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/*
* Extra utilities
*/

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.overflow-hidden { overflow: hidden; }


.hiw-number {  
    border-radius: 100%;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 32px;
    height: 52px;
    left: 5px;
    position: absolute;
    text-align: center;
    width: 52px;
}

#howto-company .hiw-number {
    background-color: #00bfa5;
}

#howto-facilitator .hiw-number {
    background-color: #f13636;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top: 50px;
    padding: 50px 10px;
}

.navbar a {
    color: #333;
}

.navbar a:hover {
    color: #0056b3;
}

li.nav-item {
    margin: 0 1em;
}